{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is the generated swagger.json for all investor endpoints. Download a swagger.json here - https://github.tlcinternal.com/pages/LendingClub/investor-api/docs/api/swagger.json",
    "version" : "352.0-SNAPSHOT",
    "title" : "Investor REST API Swagger JSON",
    "contact" : {
      "name" : "gkuchimanchi, mkovacs, or atahmasebi",
      "url" : "http://lendingclub.com",
      "email" : "investor-eng@lendingclub.com"
    }
  },
  "host" : "investor-rest-api.demo-amp.pf-nonprod.us-west-2.int.lendingcloud.us",
  "basePath" : "/api/investor",
  "tags" : [ {
    "name" : "fees"
  }, {
    "name" : "ai-strategies"
  }, {
    "name" : "loans"
  }, {
    "name" : "Partner Account"
  }, {
    "name" : "account"
  }, {
    "name" : "ISTC"
  }, {
    "name" : "autosave-account"
  }, {
    "name" : "orders"
  }, {
    "name" : "lcxPriceConfig"
  }, {
    "name" : "statements"
  }, {
    "name" : "passive-loans"
  }, {
    "name" : "activity"
  }, {
    "name" : "notes"
  }, {
    "name" : "Portfolios"
  }, {
    "name" : "Actor"
  }, {
    "name" : "v2statistics"
  }, {
    "name" : "allocation-summary"
  }, {
    "name" : "Account"
  }, {
    "name" : "application"
  }, {
    "name" : "lcxListingfConfig"
  }, {
    "name" : "Small Business Allocation"
  }, {
    "name" : "investor-returns"
  }, {
    "name" : "prime"
  }, {
    "name" : "automated-investment"
  }, {
    "name" : "financial-summary"
  }, {
    "name" : "agreements"
  }, {
    "name" : "newsletter-subscription"
  }, {
    "name" : "investorprofile"
  }, {
    "name" : "bank-account-agreements-transfer-requests"
  }, {
    "name" : "generic-allocation-listing"
  }, {
    "name" : "notes-summary"
  }, {
    "name" : "transfer-schedules"
  }, {
    "name" : "auto-save-config"
  }, {
    "name" : "bank-account-transfer-requests"
  }, {
    "name" : "Demand"
  }, {
    "name" : "transfer-requests"
  }, {
    "name" : "investment-filters"
  }, {
    "name" : "Institutional investor's bank account summary"
  }, {
    "name" : "Institutional investor profile"
  }, {
    "name" : "User actor Controller "
  }, {
    "name" : "current-allocations"
  }, {
    "name" : "passive-listing"
  }, {
    "name" : "internal - Investor Profile"
  }, {
    "name" : "bank-account"
  }, {
    "name" : "lcxLoansSummary"
  } ],
  "schemes" : [ "http", "https" ],
  "paths" : {
    "/api/investor/v2/accounts/{actorId}" : {
      "get" : {
        "tags" : [ "investorprofile" ],
        "summary" : "Returns the Investor Profile for specified actor",
        "description" : "",
        "operationId" : "getInvestorProfile",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestorProfile"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/activities" : {
      "get" : {
        "tags" : [ "activity" ],
        "summary" : "Return list of activities. Input date is in pacific timezone with date format YYYY-MM-DD. Max date range 30 days will be enforced.",
        "description" : "",
        "operationId" : "getActivities",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "default" : ""
        }, {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ActivityParams"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ActivityResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/activities/{id}" : {
      "get" : {
        "tags" : [ "activity" ],
        "summary" : "Return Activity Detail based on activity id",
        "description" : "",
        "operationId" : "getActivityDetails",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "default" : ""
        }, {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ActivityParams"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Activity"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/agreements" : {
      "get" : {
        "tags" : [ "agreements" ],
        "summary" : "Returns a list of agreements for an investor",
        "description" : "",
        "operationId" : "getAvailableAgreements",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AgreementsResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "agreements" ],
        "summary" : "Sign agreement",
        "description" : "",
        "operationId" : "signAgreement",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/LegalAgreementSignedRequest"
          }
        }, {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/agreements/{type}" : {
      "get" : {
        "tags" : [ "agreements" ],
        "summary" : "Streams agreement based on investor, agreement type and version.",
        "description" : "",
        "operationId" : "streamAgreement",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "default" : ""
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/ai-strategies" : {
      "get" : {
        "tags" : [ "ai-strategies" ],
        "summary" : "Returns Automated Investment strategy for an investor. It reflects target allocation percentages for each grade",
        "description" : "",
        "operationId" : "getAIStrategy",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AIStrategyResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "ai-strategies" ],
        "summary" : "Creates Automated Investment strategy",
        "description" : "",
        "operationId" : "createAIStrategy",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AIStrategyRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AIStrategyResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/ai-strategies/{id}" : {
      "patch" : {
        "tags" : [ "ai-strategies" ],
        "summary" : "Updates Automated Investment Strategies",
        "description" : "",
        "operationId" : "patch",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PatchModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/ai-strategies/{publicId}" : {
      "put" : {
        "tags" : [ "ai-strategies" ],
        "summary" : "Updates Automated Investment strategy",
        "description" : "",
        "operationId" : "saveOrUpdateAIStrategy",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "publicId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AIStrategyRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AIStrategyResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/autosave-account" : {
      "get" : {
        "tags" : [ "autosave-account" ],
        "summary" : "get autosave account eligibility and details",
        "description" : "",
        "operationId" : "getDepositAccounts",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/available-balance" : {
      "get" : {
        "tags" : [ "investorprofile" ],
        "summary" : "Gets the available cash for an investor account",
        "description" : "",
        "operationId" : "getAvailableBalance",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AccountInfo"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/bank-accounts" : {
      "get" : {
        "tags" : [ "bank-account" ],
        "summary" : "Returns bank account for an investor",
        "description" : "",
        "operationId" : "getBankAccounts",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "primary-only",
          "in" : "query",
          "description" : "If this value is set to true, API returns only investor's primary accounts",
          "required" : false,
          "type" : "boolean",
          "default" : "false",
          "enum" : [ "true", "false" ]
        }, {
          "name" : "deposit-only",
          "in" : "query",
          "description" : "If this value is set to true, API will only return the HYS Deposit Account(s)",
          "required" : false,
          "type" : "boolean",
          "default" : "false",
          "enum" : [ "true", "false" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/BankAccountCollectionResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/current-allocations" : {
      "get" : {
        "tags" : [ "current-allocations" ],
        "summary" : "Returns the current allocation percentages for each grade",
        "description" : "",
        "operationId" : "getCurrentAllocation",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CurrentAllocationResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/financial-summary" : {
      "get" : {
        "tags" : [ "financial-summary" ],
        "summary" : "Returns financial summary",
        "description" : "",
        "operationId" : "get",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/FinancialSummaryResp"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Resource does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/investment-filters" : {
      "get" : {
        "tags" : [ "investment-filters" ],
        "summary" : "Returns Automated Investment strategy for an investor",
        "description" : "",
        "operationId" : "getInvestmentFilters",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestmentFiltersResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/investor-returns" : {
      "get" : {
        "tags" : [ "investor-returns" ],
        "summary" : "Returns the Investor Net Annualized Returns summary",
        "description" : "",
        "operationId" : "getInvestorReturns",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestorReturns"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/matching-profiles" : {
      "get" : {
        "tags" : [ "investorprofile" ],
        "summary" : "Returns matching Investor Profiles based on ssn for specified actor",
        "description" : "",
        "operationId" : "getMatchingProfiles",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AccountCollectionResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "investorprofile" ],
        "summary" : "Link matching Investor Profiles based on ssn for specified actor",
        "description" : "",
        "operationId" : "linkMatchingProfiles",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/LinkAccountsRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AccountCollectionResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/notes" : {
      "get" : {
        "tags" : [ "notes" ],
        "summary" : "Returns a detailed view of notes for an actor",
        "description" : "",
        "operationId" : "getNoteDetails",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "default" : ""
        }, {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/NoteDetailParams"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/NoteDetailsCollectionResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/notes/{noteId}" : {
      "get" : {
        "tags" : [ "notes" ],
        "summary" : "Returns a detailed view of note for an actor given a note id",
        "description" : "",
        "operationId" : "getNoteDetail",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "noteId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/NoteDetail"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/orders" : {
      "get" : {
        "tags" : [ "orders" ],
        "summary" : "Return list of orders. Input date is in pacific timezone with date format YYYY-MM-DD. Max date range 120 days will be enforced.",
        "description" : "",
        "operationId" : "getOrders",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "default" : ""
        }, {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "startDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "withOrderDetails",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortField",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortDirection",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/OrdersResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/orders/{orderId}" : {
      "get" : {
        "tags" : [ "orders" ],
        "summary" : "Return order details",
        "description" : "",
        "operationId" : "getOrderDetails",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "default" : ""
        }, {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "orderId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/OrderDetailsResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/statements/monthly" : {
      "get" : {
        "tags" : [ "statements" ],
        "summary" : "Returns a list of months with statements",
        "description" : "",
        "operationId" : "getAvailableMonthlyStatements",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/statements/monthly/{year}/{month}" : {
      "get" : {
        "tags" : [ "statements" ],
        "summary" : "Returns the statement for given month of the year",
        "description" : "",
        "operationId" : "getMonthlyStatement",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "year",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "month",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "default" : ""
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/statements/tax" : {
      "get" : {
        "tags" : [ "statements" ],
        "summary" : "Returns a list of years with tax statements",
        "description" : "",
        "operationId" : "getAvailableTaxStatements",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/TaxDescriptorResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/statements/tax/{year}/{type}" : {
      "get" : {
        "tags" : [ "statements" ],
        "summary" : "Returns the tax statement for a given year in excel or pdf format",
        "description" : "",
        "operationId" : "getTaxStatement",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "year",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "default" : ""
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/statements/yearly" : {
      "get" : {
        "tags" : [ "statements" ],
        "summary" : "Returns a list of years with statements",
        "description" : "",
        "operationId" : "getAvailableYearlyStatements",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/statements/yearly/{year}" : {
      "get" : {
        "tags" : [ "statements" ],
        "summary" : "Returns the statement for a given year",
        "description" : "",
        "operationId" : "getYearlyStatement",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "year",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/transfer-requests" : {
      "get" : {
        "tags" : [ "transfer-requests" ],
        "summary" : "Returns transfers for an actor",
        "description" : "",
        "operationId" : "getTransfers",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "csv"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/TransferRequestResp"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "transfer-requests" ],
        "summary" : "Creates transfer request",
        "description" : "",
        "operationId" : "createTransfer",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/TransferRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/TransferRequestResp"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/transfer-requests/{id}" : {
      "delete" : {
        "tags" : [ "transfer-requests" ],
        "summary" : "Cancels transfer request",
        "description" : "",
        "operationId" : "cancelTransfer",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/transfer-schedules" : {
      "get" : {
        "tags" : [ "transfer-schedules" ],
        "summary" : "Returns transfer schedules for an actor",
        "description" : "",
        "operationId" : "getSchedules",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/TransferScheduleResp"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "transfer-schedules" ],
        "summary" : "Creates recurring transfer request",
        "description" : "",
        "operationId" : "createRecurringTransfer",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/TransferScheduleRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/TransferScheduleResp"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{actorId}/transfer-schedules/{id}" : {
      "delete" : {
        "tags" : [ "transfer-schedules" ],
        "summary" : "Cancels recurring transfer request",
        "description" : "",
        "operationId" : "cancelRecurringTransfer",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{aid}/portfolios" : {
      "get" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Returns a list of portfolios by actor Id. ",
        "description" : "",
        "operationId" : "getPortfolios",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/PortfoliosResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Returns 'Success', if the portfolio was created, portfolio details will return.",
        "description" : "",
        "operationId" : "createPortfolio",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PortfolioCreateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Portfolio"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{aid}/portfolios/{portfolioId}" : {
      "get" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Returns a portfolio details by actor Id and portfolio Id. ",
        "description" : "",
        "operationId" : "getPortfolio",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/PortfoliosResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "delete" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Delete a Portfolio and disassociate existing notes.",
        "description" : "",
        "operationId" : "deletePortfolio",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected Failure"
          }
        }
      },
      "patch" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Update Portfolio, Name, Description or Notes",
        "description" : "",
        "operationId" : "updatePortfolio",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PatchModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/Portfolio"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected Failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{aid}/portfolios/{portfolioId}/notes" : {
      "get" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Returns a list of note details by portfolio Id. ",
        "description" : "",
        "operationId" : "getNoteDetailsByPortfolioId",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/PortfoliosResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "patch" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Add/Remove list of notes to/from a portfolio.",
        "description" : "",
        "operationId" : "updateNotesInPortfolio",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "portfolioId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PatchModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{aid}/portfolios/{targetPortfolioId}/merge" : {
      "patch" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Merge one or more portfolios into another.",
        "description" : "",
        "operationId" : "mergePortfolio",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "targetPortfolioId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PatchModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{id}/bank-account-agreements-transfer-requests" : {
      "post" : {
        "tags" : [ "bank-account-agreements-transfer-requests" ],
        "summary" : "Creates bank account with legal agreements and transfers fund",
        "description" : "",
        "operationId" : "createBankAccountAgreementsTransferRequest",
        "parameters" : [ {
          "name" : "X-LC-ORIGIN-IP",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "default" : ""
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/BankAccountAgreementsTransferRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/TransferRequestResp"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/accounts/{id}/bank-account-transfer-requests" : {
      "post" : {
        "tags" : [ "bank-account-transfer-requests" ],
        "summary" : "Creates bank account and transfers fund",
        "description" : "",
        "operationId" : "createBankAccountTransferRequest",
        "parameters" : [ {
          "name" : "X-LC-ORIGIN-IP",
          "in" : "header",
          "required" : false,
          "type" : "string",
          "default" : ""
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/BankAccountTransferRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/TransferRequestResp"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/funnel/account" : {
      "post" : {
        "tags" : [ "account" ],
        "summary" : "Creates Investor Account",
        "description" : "",
        "operationId" : "createInvestorAccount",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/InvestorApplication"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestorApplication"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/funnel/application" : {
      "post" : {
        "tags" : [ "application" ],
        "summary" : "Create investor application",
        "description" : "",
        "operationId" : "createInvestorApplication",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/InvestorApplication"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestorApplicationResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/funnel/application/{appId}" : {
      "get" : {
        "tags" : [ "application" ],
        "summary" : "Return investor application info",
        "description" : "",
        "operationId" : "getInvestorApplication",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestorProfileExtended"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor application does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "patch" : {
        "tags" : [ "application" ],
        "summary" : "Update investor application info",
        "description" : "",
        "operationId" : "updateInvestorApplication",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PatchModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestorApplicationResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Investor application does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/accounts/valid-investors" : {
      "get" : {
        "tags" : [ "internal - Investor Profile" ],
        "summary" : "Checks if the given list of investors are valid LC 1.0 investors or not",
        "description" : "",
        "operationId" : "getValidInvestors",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestorValidationRequestResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/accounts/{actorId}" : {
      "patch" : {
        "tags" : [ "Actor" ],
        "summary" : "Update the phone number and address for the specified actor",
        "description" : "",
        "operationId" : "updateProfile",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PatchModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/accounts/{actorId}/activation" : {
      "patch" : {
        "tags" : [ "Actor" ],
        "summary" : "Updates Actor settings",
        "description" : "",
        "operationId" : "patch",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PatchModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/accounts/{actorId}/ai-strategies" : {
      "get" : {
        "tags" : [ "ai-strategies" ],
        "summary" : "Returns Automated Investment strategy for an investor. It reflects target allocation percentages for each grade, Internal Use",
        "description" : "",
        "operationId" : "getAIStrategy",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AIStrategyResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/accounts/{actorId}/auto-save-config" : {
      "get" : {
        "tags" : [ "auto-save-config" ],
        "summary" : "Returns autosave config for an investor",
        "description" : "",
        "operationId" : "getInvestorAutosaveConfigs",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestorAutoSaveConfigResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "auto-save-config" ],
        "summary" : "Add or update investor autosave config",
        "description" : "",
        "operationId" : "createOrUpdateInvestorAutosaveConfig",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/InvestorAutosaveConfigRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestorAutoSaveConfigResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/accounts/{actorId}/financial-summary" : {
      "get" : {
        "tags" : [ "financial-summary" ],
        "summary" : "Returns financial summary",
        "description" : "",
        "operationId" : "getInternalFinancialSummary",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/FinancialSummaryResp"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Resource does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/accounts/{actorId}/notes-summary" : {
      "get" : {
        "tags" : [ "notes-summary" ],
        "summary" : "Returns an aggregate summary of notes for an actor, when showAllOrders is set to True, the API is only intended to be used by scale program, then principalPending will not be populated. ",
        "description" : "",
        "operationId" : "getNotesSummary",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/NotesSummaryRequestParams"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/NotesSummaryCollectionResp"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/accounts/{actorId}/orderssummary" : {
      "get" : {
        "tags" : [ "orders" ],
        "summary" : "Return list of orders.  ",
        "description" : "",
        "operationId" : "getOrdersSummary",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/OrdersResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/accounts/{actorId}/small-business-allocation" : {
      "put" : {
        "tags" : [ "Small Business Allocation" ],
        "summary" : "Update Small Business Allocation Settings",
        "description" : "",
        "operationId" : "updateAllocationSettings",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/SmallBusinessAllocationRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/accounts/{actorId}/verify-user" : {
      "post" : {
        "tags" : [ "Actor" ],
        "summary" : "Verify ID check, Credit check, calculate SF leadscore and publish KYC event",
        "description" : "",
        "operationId" : "verifyActor",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Investor does not exist"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/accounts/{investorId}/allocation-summary" : {
      "get" : {
        "tags" : [ "allocation-summary" ],
        "summary" : "Returns an aggregate summary of loans for an actor based on criteria.",
        "description" : "",
        "operationId" : "getSummaryForApprovedAndIssuedLoans",
        "parameters" : [ {
          "name" : "investorId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/LoanAllocationSummaryRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/LoanAllocationSummaryResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/actor/{aid}/partner-account" : {
      "get" : {
        "tags" : [ "Partner Account" ],
        "summary" : "Retrieves all ActorPartnerAccounts associated with the given actorId",
        "description" : "",
        "operationId" : "getActorPartnerAccountsByActor",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ActorPartnerAccountsResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "User not permitted to access resource"
          },
          "404" : {
            "description" : "Actor not found"
          },
          "500" : {
            "description" : "Unexpected Failure"
          }
        }
      },
      "post" : {
        "tags" : [ "Partner Account" ],
        "summary" : "Create a actor partner account number for the specified actor",
        "description" : "",
        "operationId" : "createActorPartnerAccount",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ActorPartnerAccountModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ActorPartnerAccountModel"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "User not permitted to access resource"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected Failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/actor/{aid}/partner-account/{partnerId}" : {
      "patch" : {
        "tags" : [ "Partner Account" ],
        "summary" : "Updates ActorPartnerAccount for a given actorId",
        "description" : "",
        "operationId" : "updateActorPartnerAccount",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "partnerId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PatchModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected Failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ai/allocation-details" : {
      "post" : {
        "tags" : [ "automated-investment" ],
        "summary" : "Create details of AI allocation",
        "description" : "",
        "operationId" : "createAIAllocationDetails",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AIAllocationDetailsRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AIAllocationDetailsListModel"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ai/split" : {
      "get" : {
        "tags" : [ "automated-investment" ],
        "summary" : "Returns configuration of current AI split",
        "description" : "",
        "operationId" : "getAISplitConfig",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AutomatedInvestmentAllocationSplitModel"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "automated-investment" ],
        "summary" : "Creates the new configuration of AI split",
        "description" : "",
        "operationId" : "createAISplitConfig",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AutomatedInvestmentAllocationSplitModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AutomatedInvestmentAllocationSplitModel"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ai/templates" : {
      "get" : {
        "tags" : [ "automated-investment" ],
        "summary" : "Returns latest AI templates",
        "description" : "",
        "operationId" : "getAITemplates",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AutomatedInvestingTemplateResponseModel"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "put" : {
        "tags" : [ "automated-investment" ],
        "summary" : "Updates AI templates",
        "description" : "",
        "operationId" : "updateAITemplates",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateAutomatedInvestingTemplateRequestModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AutomatedInvestingTemplateResponseModel"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/bank/account-summary" : {
      "get" : {
        "tags" : [ "Institutional investor's bank account summary" ],
        "summary" : "Gets Bank Account Summary for an institutional investor",
        "description" : "",
        "operationId" : "getBankAccountSummary",
        "parameters" : [ {
          "name" : "aid",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "User not permitted to access resource"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected Failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/fees" : {
      "get" : {
        "tags" : [ "fees" ],
        "summary" : "Returns investor fee cfgs for an investor",
        "description" : "",
        "operationId" : "getInvestorFees",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestorFeesResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "fees" ],
        "summary" : "Add investor fee config",
        "description" : "",
        "operationId" : "createInvestorFee",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/InvestorFeeCfgRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/BankAccountCollectionResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/fees/fee-types" : {
      "get" : {
        "tags" : [ "fees" ],
        "summary" : "Returns all the fees configs",
        "description" : "",
        "operationId" : "getFeeConfigs",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/FeeConfigResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "fees" ],
        "summary" : "Creates fee configs",
        "description" : "",
        "operationId" : "createFeeConfigs",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/FeeConfig"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/fractional-demand" : {
      "get" : {
        "tags" : [ "Demand" ],
        "summary" : "Returns the fractional demand for a specific period",
        "description" : "",
        "operationId" : "getFractionlDemand",
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/FractionalDemandCollectionResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "Demand" ],
        "summary" : "Calculates investor demand based on existing data in TLC",
        "description" : "",
        "operationId" : "calculateInvestorDemand",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestorDemandResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/fractional-demand-multiplier" : {
      "get" : {
        "tags" : [ "Demand" ],
        "summary" : "Returns the current multiplier for a specific grade and term",
        "description" : "",
        "operationId" : "getMultiplier",
        "parameters" : [ {
          "name" : "grade",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "term",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "startDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/FractionalDemandMultiplierCollectionResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "Demand" ],
        "summary" : "persists the fractional demand multiplier for a specific grade and term",
        "description" : "",
        "operationId" : "createMultiplier",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/FractionDemandMultiplier"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/institution/{aid}/profile" : {
      "get" : {
        "tags" : [ "Institutional investor profile" ],
        "summary" : "Gets the profile for an institutional investor",
        "description" : "",
        "operationId" : "getInstitutionalProfile",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InstitutionalProfileModel"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "User not permitted to access resource"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected Failure"
          }
        }
      },
      "post" : {
        "tags" : [ "Institutional investor profile" ],
        "summary" : "Sets the profile for an institutional investor",
        "description" : "",
        "operationId" : "setInstitutionalProfile",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/InstitutionalProfileModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "User not permitted to access resource"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected Failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ira/accounts/update-investment-valuation" : {
      "post" : {
        "tags" : [ "ISTC" ],
        "summary" : "Batch Update ISTC Investment Valuations",
        "description" : "",
        "operationId" : "updateInvestmentValuations",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/InvestmentValuationRequest"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestmentValuationCollectionResp"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ira/accounts/{actorId}/create-deposit-investment-purchase" : {
      "post" : {
        "tags" : [ "ISTC" ],
        "summary" : "Create ISTC Deposit and Investment Purchase",
        "description" : "",
        "operationId" : "createDepositAndInvestmentPurchase",
        "parameters" : [ {
          "name" : "actorId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/IraDepositRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/IraDepositResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ira/accounts/{aid}/update-investment-valuation" : {
      "post" : {
        "tags" : [ "ISTC" ],
        "summary" : "Update ISTC Investment Valuation",
        "description" : "",
        "operationId" : "updateInvestmentValuation",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/InvestmentValuationRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestmentValuationResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ira/contribution-details/{appId}" : {
      "get" : {
        "tags" : [ "ISTC" ],
        "summary" : "Get Contribution details",
        "description" : "",
        "operationId" : "getContributionDetails",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/GetContributionDetailsResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ira/create-investment-purchase-directive/{appId}" : {
      "post" : {
        "tags" : [ "ISTC" ],
        "summary" : "Create ISTC Investment Purchase Directive",
        "description" : "",
        "operationId" : "createInvestmentPurchaseDirective",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InvestmentPurchaseDirectiveResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ira/custodians" : {
      "get" : {
        "tags" : [ "ISTC" ],
        "summary" : "Get Custodian list",
        "description" : "",
        "operationId" : "getCustodianList",
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/CustodianListResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ira/docu-sign-url/{appId}" : {
      "get" : {
        "tags" : [ "ISTC" ],
        "summary" : "Get docu-sign url",
        "description" : "",
        "operationId" : "getDocuSignUrl",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/GetDocuSignResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ira/istc-account/{appId}" : {
      "get" : {
        "tags" : [ "ISTC" ],
        "summary" : "Get ISTC account details",
        "description" : "",
        "operationId" : "getAccountDetails",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/GetAccountResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ira/istc-account/{appid}" : {
      "post" : {
        "tags" : [ "ISTC" ],
        "summary" : "Create ISTC ira account",
        "description" : "",
        "operationId" : "createIstcAccountRequest",
        "parameters" : [ {
          "name" : "appid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/IraAppCreateResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ira/pdf-file/{linkedFileId}" : {
      "get" : {
        "tags" : [ "ISTC" ],
        "summary" : "Get PDF file",
        "description" : "",
        "operationId" : "getPdfFile",
        "produces" : [ "application/octet-stream" ],
        "parameters" : [ {
          "name" : "linkedFileId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/InputStreamResource"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ira/rollover-directive/{appId}" : {
      "post" : {
        "tags" : [ "ISTC" ],
        "summary" : "Create ISTC RolloverDirective",
        "description" : "",
        "operationId" : "createRolloverDirectiveRequest",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/IraAppCreateResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/ira/transfer-directive/{appId}" : {
      "post" : {
        "tags" : [ "ISTC" ],
        "summary" : "Create ISTC TransferDirective",
        "description" : "",
        "operationId" : "createTransferDirectiveRequest",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/IraAppCreateResponse"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "404" : {
            "description" : "Not Found"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/lcx-listing-config" : {
      "get" : {
        "tags" : [ "lcxListingfConfig" ],
        "summary" : "Returns a list of lcx listing configurations",
        "description" : "",
        "operationId" : "getLcxListingConfigs",
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "required" : false,
          "type" : "ref"
        }, {
          "name" : "endDate",
          "in" : "query",
          "required" : false,
          "type" : "ref"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "lcxListingfConfig" ],
        "summary" : "Creates an LCX listing configuration",
        "description" : "",
        "operationId" : "createLcxListingConfig",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ListingConfigModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/LcxListingConfigResponse"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/lcx-listing-config/all" : {
      "get" : {
        "tags" : [ "lcxListingfConfig" ],
        "summary" : "Returns a list of lcx primary market listing configurations",
        "description" : "",
        "operationId" : "getAllLcxListingConfigs",
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/lcx-listing-config/{config-id}" : {
      "put" : {
        "tags" : [ "lcxListingfConfig" ],
        "summary" : "Updates an LCX listing configuration",
        "description" : "",
        "operationId" : "updateLcxListingConfig",
        "parameters" : [ {
          "name" : "config-id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ListingConfigModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/lcx-listing-config/{config-id}/disable" : {
      "put" : {
        "tags" : [ "lcxListingfConfig" ],
        "summary" : "Disables an existing config by setting end date",
        "description" : "",
        "operationId" : "disableLcxListingConfig",
        "parameters" : [ {
          "name" : "config-id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ListingConfigModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/lcx-loans-summary" : {
      "get" : {
        "tags" : [ "lcxLoansSummary" ],
        "summary" : "Returns a base summary of loans",
        "description" : "",
        "operationId" : "getLcxLoansSummary",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/LcxLoansSummaryRequestParams"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/LcxLoansSummaryCollectionResp"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/lcx-price-config" : {
      "get" : {
        "tags" : [ "lcxPriceConfig" ],
        "summary" : "Returns a list of lcx primary market price configurations",
        "description" : "",
        "operationId" : "getLcxPriceConfigs",
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "required" : false,
          "type" : "ref"
        }, {
          "name" : "endDate",
          "in" : "query",
          "required" : false,
          "type" : "ref"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      },
      "post" : {
        "tags" : [ "lcxPriceConfig" ],
        "summary" : "Creates an lcx primary market price configuration",
        "description" : "",
        "operationId" : "createLcxPriceConfig",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PriceConfigModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/LcxPriceConfigResponse"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/lcx-price-config/all" : {
      "get" : {
        "tags" : [ "lcxPriceConfig" ],
        "summary" : "Returns a list of lcx primary market price configurations",
        "description" : "",
        "operationId" : "getAllLcxPriceConfigs",
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/lcx-price-config/{config-id}" : {
      "put" : {
        "tags" : [ "lcxPriceConfig" ],
        "summary" : "Updates an lcx primary market price configuration with new one",
        "description" : "",
        "operationId" : "updateLcxPriceConfig",
        "parameters" : [ {
          "name" : "config-id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PriceConfigModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/lcx-price-config/{config-id}/disable" : {
      "put" : {
        "tags" : [ "lcxPriceConfig" ],
        "summary" : "Disables an existing config by setting end date",
        "description" : "",
        "operationId" : "disableLcxPriceConfig",
        "parameters" : [ {
          "name" : "config-id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PriceConfigModel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Unexpected failure"
          }
        }
      }
    },
    "/api/investor/v2/internal/loans" : {
      "get" : {
        "tags" : [ "loans" ],
        "summary" : "Get details of loans by loan IDss",
        "description" : "",
        "operationId" : "getLoans",
        "parameters" : [ {
          "name" : "loanIds",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/LoanDetailResponse"
            }
          },
          "400" : {
            "description" : "Validation or business error",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Unexpected failure"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        }
      }
    },
    "/api/investor/v2/internal/loans/generic-allocation-listing" : {
      "get" : {
        "tags" : [ "generic-allocation-listing" ],
[...]
